{% extends 'home.html' %} {% block content %}
<div style="margin: 0 auto; width: 300px; text-align: center">
    <h1 class="">Log in</h1>

    <form method="post" style="margin-top: 20px">
        {% csrf_token %}
        <div>
            <label for="username">Username:</label><br />
            {{ form.username }}
        </div>

        <div style="margin-top: 10px">
            <label for="password">Password:</label><br />
            {{ form.password }}
        </div>

        {% if form.errors or form.non_field_errors %}
        <div style="margin-top: 10px">
            {% for field in form %}
            {{ field.errors }}
        {% endfor %}

        {{ form.non_field_errors }}
        </div>
        {% endif %}

        <button
            type="submit"
            style="
                margin-top: 20px;
                padding: 10px 20px;
                background-color: #4caf50;
                color: white;
                border: none;
                border-radius: 4px;
                cursor: pointer;
            "
        >
            Submit
        </button>
    </form>
    <div style="margin-top: 20px">
        <a
            onclick="location.href = '/signup'"
            style="color: grey; cursor: pointer"
            onmouseover="this.style.color='black'; this.style.cursor='pointer';"
            onmouseout="this.style.color='grey'; this.style.cursor='pointer';"
            >Don't have an account?</a
        >
    </div>
    <div style="margin-top: 20px">
        <a
            onclick="location.href = '/'"
            style="color: grey; cursor: pointer"
            onmouseover="this.style.color='black'; this.style.cursor='pointer';"
            onmouseout="this.style.color='grey'; this.style.cursor='pointer';"
            >Home</a
        >
    </div>
</div>
{% endblock %}
