{% extends 'home.html' %}
{% block content %}
{% if user.is_authenticated %} {% if user.is_superuser %}

<a href="/admin/">Go to Django Admin Panel</a>
{% else %}

{% if available_premises %}
<form action="/checkin_checkout/" method="post">
    <label for="premiseSelect">Select Premise:</label>
    <select name="premise" id="premiseSelect">
        {% for premise in available_premises %}
        <option value="{{ premise.id }}">{{ premise.name }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Check-in" />
</form>
{% else %}
<p>No available premises at the moment.</p>
{% endif %} {% endif %} {% else %}

<div class="container">
    <form action="/order_premise/" method="post">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName" />
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName" />
        <label for="premiseSelect">Select Premise:</label>
        <select name="premise" id="premiseSelect">
            {% for premise in available_premises %}
            <option value="{{ premise.id }}">
                {{ premise.name }}
            </option>
            {% endfor %}
        </select>
        <div id="date-time-panel">
            <div class="date-time-block">
                <label for="checkInDate">Check-In Date:</label>
                <input
                    type="date"
                    id="checkInDate"
                    name="checkInDate"
                />
            </div>
            <div class="date-time-block">
                <label for="checkOutDate">Check-Out Date:</label>
                <input
                    type="date"
                    id="checkOutDate"
                    name="checkOutDate"
                />
            </div>
        </div>

        <input type="submit" value="Order Premise" />
    </form>
</div>
<div class="checked-premises">
    
</div>
{% endif %}
{% endblock %}